
@import "bootstrap-sprockets";
@import "bootstrap";


#searchDiv{
	margin: 20px;
	padding: 0px;
}

#myTabContent{
	padding: 0px;
}

.searchResults{
	height: 312px;
/*	width: 100%;*/
	border-top: 1px solid hsl(0%,0%,15%);
	border-bottom: 1px solid hsl(0%,0%,15%);
	border-left: 10px solid hsl(0%,0%,15%);
	border-right: 10px solid hsl(0%,0%,15%);

/*	margin-top: 10px;*/
	overflow-y: scroll;
	text-align: center;
}

#logo{
	margin-top: 70px;
	margin-left: 40px;
	position: absolute;
	z-index: 10;
	font-size: 35px;
	padding: 10px;
	font-family: 'Roboto Slab', serif;
	color: hsl(0,15%,15%);
}
#vmap{
	width: 98%;
	border-left: 10px solid hsl(0%,0%,15%);
	border-right: 10px solid hsl(0%,0%,15%);
	border-top: 1px solid hsl(0%,0%,15%);
	border-bottom: 1px solid hsl(0%,0%,15%);
/*	background-color: hsla(204, 75%, 82%, 0.87);*/
}

.pills{
	background-color: hsl(0%,0%,15%);
}

.pills a{
	color: white;
}

#selectedCountryDiv{
	font-size: 22px;
	margin-top: 330px;
	margin-left: 65px;
	position: absolute;
	z-index: 10;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #a5bfdd !important;
    border-radius: 0px !important;
    color: hsl(0,0%,15%) !important;
/*    border-right: 5px solid hsl(0,0%,15%);
    border-left: 5px solid hsl(0,0%,15%);*/
    border-top: 10px solid white;
    border-bottom: 10px solid white;
}

/*.tooltip span {
    display:none;
}
.tooltip:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
}*/
