// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

		.searchResults{
			height: 80%;
			width: 80%;
			border: 1px solid hsl(0%,0%,10%);
			background-color: black;
		}
